@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@400..600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@import "$/styles/tailwind-theme.css";

:root {
  --ds-font-family-sans: "Red Hat Display";
  --ds-font-family-mono: "Red Hat Mono";
  --ds-font-family-serif: "Noto Serif";
}

body {
  font-family: var(--ds-font-sans);
  background-color: var(--ds-bg-primary);
  color: var(--ds-text-primary);
  min-height: 100dvh;
}
