/* ============================================================
   Font Face — Red Hat Display (sans-serif)
   Variable font: wght 300–900
   ============================================================ */

@font-face {
  font-family: "Red Hat Display";
  src:
    local("Red Hat Display"),
    local("Red-Hat-Display"),
    url("@/fonts/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf") format("truetype");
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Red Hat Display";
  src:
    local("Red Hat Display Italic"),
    local("Red-Hat-Display-Italic"),
    url("@/fonts/Red_Hat_Display/RedHatDisplay-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 300 900;
  font-style: italic;
  font-display: swap;
}
