:root {
  /* primary */
  --ds-border-primary-1px: var(--ds-size-1px) solid var(--ds-border-primary);
  --ds-border-primary-2px: var(--ds-size-2px) solid var(--ds-border-primary);
  --ds-border-primary-3px: var(--ds-size-3px) solid var(--ds-border-primary);
  --ds-border-primary-4px: var(--ds-size-4px) solid var(--ds-border-primary);

  /* secondary */
  --ds-border-secondary-1px: var(--ds-size-1px) solid var(--ds-border-secondary);
  --ds-border-secondary-2px: var(--ds-size-2px) solid var(--ds-border-secondary);
  --ds-border-secondary-3px: var(--ds-size-3px) solid var(--ds-border-secondary);
  --ds-border-secondary-4px: var(--ds-size-4px) solid var(--ds-border-secondary);

  /* tertiary */
  --ds-border-tertiary-1px: var(--ds-size-1px) solid var(--ds-border-tertiary);
  --ds-border-tertiary-2px: var(--ds-size-2px) solid var(--ds-border-tertiary);
  --ds-border-tertiary-3px: var(--ds-size-3px) solid var(--ds-border-tertiary);
  --ds-border-tertiary-4px: var(--ds-size-4px) solid var(--ds-border-tertiary);

  /* solid */
  --ds-border-solid-1px: var(--ds-size-1px) solid var(--ds-border-solid);
  --ds-border-solid-2px: var(--ds-size-2px) solid var(--ds-border-solid);
  --ds-border-solid-3px: var(--ds-size-3px) solid var(--ds-border-solid);
  --ds-border-solid-4px: var(--ds-size-4px) solid var(--ds-border-solid);

  /* brand-primary */
  --ds-border-brand-primary-1px: var(--ds-size-1px) solid var(--ds-border-brand-primary);
  --ds-border-brand-primary-2px: var(--ds-size-2px) solid var(--ds-border-brand-primary);
  --ds-border-brand-primary-3px: var(--ds-size-3px) solid var(--ds-border-brand-primary);
  --ds-border-brand-primary-4px: var(--ds-size-4px) solid var(--ds-border-brand-primary);

  /* brand-secondary */
  --ds-border-brand-secondary-1px: var(--ds-size-1px) solid var(--ds-border-brand-secondary);
  --ds-border-brand-secondary-2px: var(--ds-size-2px) solid var(--ds-border-brand-secondary);
  --ds-border-brand-secondary-3px: var(--ds-size-3px) solid var(--ds-border-brand-secondary);
  --ds-border-brand-secondary-4px: var(--ds-size-4px) solid var(--ds-border-brand-secondary);

  /* brand-solid */
  --ds-border-brand-solid-1px: var(--ds-size-1px) solid var(--ds-border-brand-solid);
  --ds-border-brand-solid-2px: var(--ds-size-2px) solid var(--ds-border-brand-solid);
  --ds-border-brand-solid-3px: var(--ds-size-3px) solid var(--ds-border-brand-solid);
  --ds-border-brand-solid-4px: var(--ds-size-4px) solid var(--ds-border-brand-solid);

  /* alt-primary */
  --ds-border-alt-primary-1px: var(--ds-size-1px) solid var(--ds-border-alt-primary);
  --ds-border-alt-primary-2px: var(--ds-size-2px) solid var(--ds-border-alt-primary);
  --ds-border-alt-primary-3px: var(--ds-size-3px) solid var(--ds-border-alt-primary);
  --ds-border-alt-primary-4px: var(--ds-size-4px) solid var(--ds-border-alt-primary);

  /* alt-secondary */
  --ds-border-alt-secondary-1px: var(--ds-size-1px) solid var(--ds-border-alt-secondary);
  --ds-border-alt-secondary-2px: var(--ds-size-2px) solid var(--ds-border-alt-secondary);
  --ds-border-alt-secondary-3px: var(--ds-size-3px) solid var(--ds-border-alt-secondary);
  --ds-border-alt-secondary-4px: var(--ds-size-4px) solid var(--ds-border-alt-secondary);

  /* alt-solid */
  --ds-border-alt-solid-1px: var(--ds-size-1px) solid var(--ds-border-alt-solid);
  --ds-border-alt-solid-2px: var(--ds-size-2px) solid var(--ds-border-alt-solid);
  --ds-border-alt-solid-3px: var(--ds-size-3px) solid var(--ds-border-alt-solid);
  --ds-border-alt-solid-4px: var(--ds-size-4px) solid var(--ds-border-alt-solid);

  /* info-primary */
  --ds-border-info-primary-1px: var(--ds-size-1px) solid var(--ds-border-info-primary);
  --ds-border-info-primary-2px: var(--ds-size-2px) solid var(--ds-border-info-primary);
  --ds-border-info-primary-3px: var(--ds-size-3px) solid var(--ds-border-info-primary);
  --ds-border-info-primary-4px: var(--ds-size-4px) solid var(--ds-border-info-primary);

  /* info-secondary */
  --ds-border-info-secondary-1px: var(--ds-size-1px) solid var(--ds-border-info-secondary);
  --ds-border-info-secondary-2px: var(--ds-size-2px) solid var(--ds-border-info-secondary);
  --ds-border-info-secondary-3px: var(--ds-size-3px) solid var(--ds-border-info-secondary);
  --ds-border-info-secondary-4px: var(--ds-size-4px) solid var(--ds-border-info-secondary);

  /* info-solid */
  --ds-border-info-solid-1px: var(--ds-size-1px) solid var(--ds-border-info-solid);
  --ds-border-info-solid-2px: var(--ds-size-2px) solid var(--ds-border-info-solid);
  --ds-border-info-solid-3px: var(--ds-size-3px) solid var(--ds-border-info-solid);
  --ds-border-info-solid-4px: var(--ds-size-4px) solid var(--ds-border-info-solid);

  /* error-primary */
  --ds-border-error-primary-1px: var(--ds-size-1px) solid var(--ds-border-error-primary);
  --ds-border-error-primary-2px: var(--ds-size-2px) solid var(--ds-border-error-primary);
  --ds-border-error-primary-3px: var(--ds-size-3px) solid var(--ds-border-error-primary);
  --ds-border-error-primary-4px: var(--ds-size-4px) solid var(--ds-border-error-primary);

  /* error-secondary */
  --ds-border-error-secondary-1px: var(--ds-size-1px) solid var(--ds-border-error-secondary);
  --ds-border-error-secondary-2px: var(--ds-size-2px) solid var(--ds-border-error-secondary);
  --ds-border-error-secondary-3px: var(--ds-size-3px) solid var(--ds-border-error-secondary);
  --ds-border-error-secondary-4px: var(--ds-size-4px) solid var(--ds-border-error-secondary);

  /* error-solid */
  --ds-border-error-solid-1px: var(--ds-size-1px) solid var(--ds-border-error-solid);
  --ds-border-error-solid-2px: var(--ds-size-2px) solid var(--ds-border-error-solid);
  --ds-border-error-solid-3px: var(--ds-size-3px) solid var(--ds-border-error-solid);
  --ds-border-error-solid-4px: var(--ds-size-4px) solid var(--ds-border-error-solid);

  /* warning-primary */
  --ds-border-warning-primary-1px: var(--ds-size-1px) solid var(--ds-border-warning-primary);
  --ds-border-warning-primary-2px: var(--ds-size-2px) solid var(--ds-border-warning-primary);
  --ds-border-warning-primary-3px: var(--ds-size-3px) solid var(--ds-border-warning-primary);
  --ds-border-warning-primary-4px: var(--ds-size-4px) solid var(--ds-border-warning-primary);

  /* warning-secondary */
  --ds-border-warning-secondary-1px: var(--ds-size-1px) solid var(--ds-border-warning-secondary);
  --ds-border-warning-secondary-2px: var(--ds-size-2px) solid var(--ds-border-warning-secondary);
  --ds-border-warning-secondary-3px: var(--ds-size-3px) solid var(--ds-border-warning-secondary);
  --ds-border-warning-secondary-4px: var(--ds-size-4px) solid var(--ds-border-warning-secondary);

  /* warning-solid */
  --ds-border-warning-solid-1px: var(--ds-size-1px) solid var(--ds-border-warning-solid);
  --ds-border-warning-solid-2px: var(--ds-size-2px) solid var(--ds-border-warning-solid);
  --ds-border-warning-solid-3px: var(--ds-size-3px) solid var(--ds-border-warning-solid);
  --ds-border-warning-solid-4px: var(--ds-size-4px) solid var(--ds-border-warning-solid);

  /* success-primary */
  --ds-border-success-primary-1px: var(--ds-size-1px) solid var(--ds-border-success-primary);
  --ds-border-success-primary-2px: var(--ds-size-2px) solid var(--ds-border-success-primary);
  --ds-border-success-primary-3px: var(--ds-size-3px) solid var(--ds-border-success-primary);
  --ds-border-success-primary-4px: var(--ds-size-4px) solid var(--ds-border-success-primary);

  /* success-secondary */
  --ds-border-success-secondary-1px: var(--ds-size-1px) solid var(--ds-border-success-secondary);
  --ds-border-success-secondary-2px: var(--ds-size-2px) solid var(--ds-border-success-secondary);
  --ds-border-success-secondary-3px: var(--ds-size-3px) solid var(--ds-border-success-secondary);
  --ds-border-success-secondary-4px: var(--ds-size-4px) solid var(--ds-border-success-secondary);

  /* success-solid */
  --ds-border-success-solid-1px: var(--ds-size-1px) solid var(--ds-border-success-solid);
  --ds-border-success-solid-2px: var(--ds-size-2px) solid var(--ds-border-success-solid);
  --ds-border-success-solid-3px: var(--ds-size-3px) solid var(--ds-border-success-solid);
  --ds-border-success-solid-4px: var(--ds-size-4px) solid var(--ds-border-success-solid);

  /* inverse */
  --ds-border-inverse-1px: var(--ds-size-1px) solid var(--ds-border-inverse);
  --ds-border-inverse-2px: var(--ds-size-2px) solid var(--ds-border-inverse);
  --ds-border-inverse-3px: var(--ds-size-3px) solid var(--ds-border-inverse);
  --ds-border-inverse-4px: var(--ds-size-4px) solid var(--ds-border-inverse);
}
