:root {
  --color-white: #fefefe;
  --color-black: #090909;

  /* --- Gray --- */
  --color-gray-50: #f9fbfb;
  --color-gray-100: #f3f6f6;
  --color-gray-200: #e6eaea;
  --color-gray-300: #d3d9d9;
  --color-gray-400: #9facac;
  --color-gray-500: #859293;
  --color-gray-600: #4f5f5f;
  --color-gray-700: #3b4d4d;
  --color-gray-800: #233333;
  --color-gray-900: #152223;
  --color-gray-950: #050e10;

  /* --- Teal --- */
  --color-teal-50: #f0fdfa;
  --color-teal-100: #ccfbf1;
  --color-teal-200: #99f6e4;
  --color-teal-300: #5eead4;
  --color-teal-400: #2dd4bf;
  --color-teal-500: #14b8a6;
  --color-teal-600: #0d9488;
  --color-teal-700: #0f766e;
  --color-teal-800: #115e59;
  --color-teal-900: #134e4a;

  /* --- Fuschia --- */
  --color-fuschia-50: #fff1f2;
  --color-fuschia-100: #ffe4e6;
  --color-fuschia-200: #fecdd3;
  --color-fuschia-300: #fda4af;
  --color-fuschia-400: #fb7185;
  --color-fuschia-500: #f43f5e;
  --color-fuschia-600: #e11d48;
  --color-fuschia-700: #be123c;
  --color-fuschia-800: #9f1239;
  --color-fuschia-900: #881337;

  /* --- Green --- */
  --color-green-50: #edfcf3;
  --color-green-100: #d2f9e1;
  --color-green-200: #aaf0c9;
  --color-green-300: #72e3ab;
  --color-green-400: #35cc86;
  --color-green-500: #16b36f;
  --color-green-600: #0a915a;
  --color-green-700: #08744b;
  --color-green-800: #095c3c;
  --color-green-900: #094b33;
  --color-green-950: #042a1d;

  /* --- Orange --- */
  --color-orange-50: #fdf7ef;
  --color-orange-100: #faedda;
  --color-orange-200: #f4d7b4;
  --color-orange-300: #eebd88;
  --color-orange-400: #e59552;
  --color-orange-500: #df7930;
  --color-orange-600: #d16125;
  --color-orange-700: #ad4b21;
  --color-orange-800: #8a3d22;
  --color-orange-900: #70341e;
  --color-orange-950: #3c180e;

  /* --- Blue --- */
  --color-blue-50: #f4f6fa;
  --color-blue-100: #e6ebf3;
  --color-blue-200: #d3dcea;
  --color-blue-300: #abbdd6;
  --color-blue-400: #92a7c8;
  --color-blue-500: #778dba;
  --color-blue-600: #6577ab;
  --color-blue-700: #59679c;
  --color-blue-800: #4d5680;
  --color-blue-900: #414967;
  --color-blue-950: #2b2f40;

  /* --- Red --- */
  --color-red-50: #fdf4f3;
  --color-red-100: #fbe6e5;
  --color-red-200: #f8d3d0;
  --color-red-300: #f2b3af;
  --color-red-400: #e88881;
  --color-red-500: #db6158;
  --color-red-600: #c6453c;
  --color-red-700: #a7372f;
  --color-red-800: #8a302a;
  --color-red-900: #732e29;
  --color-red-950: #3e1411;

  /* --- Purple --- */
  --color-purple-50: #f9f6f7;
  --color-purple-100: #f5eef1;
  --color-purple-200: #ecdee4;
  --color-purple-300: #dec3ce;
  --color-purple-400: #c99dae;
  --color-purple-500: #b07489;
  --color-purple-600: #a06275;
  --color-purple-700: #874f5e;
  --color-purple-800: #71434f;
  --color-purple-900: #603b45;
  --color-purple-950: #381f25;

  /* --- Yellow --- */
  --color-yellow-50: #fffde5;
  --color-yellow-100: #fff9bc;
  --color-yellow-200: #ffef7c;
  --color-yellow-300: #ffde32;
  --color-yellow-400: #ffcc00;
  --color-yellow-500: #ffc100;
  --color-yellow-600: #e19800;
  --color-yellow-700: #b36a00;
  --color-yellow-800: #9d5300;
  --color-yellow-900: #7c3e07;
  --color-yellow-950: #492000;

  /* --- Pink --- */
  --color-pink-50: #faf5f8;
  --color-pink-100: #f7ecf4;
  --color-pink-200: #f1d9e9;
  --color-pink-300: #e6bbd7;
  --color-pink-400: #d591bc;
  --color-pink-500: #c56fa3;
  --color-pink-600: #b05286;
  --color-pink-700: #973f6d;
  --color-pink-800: #793558;
  --color-pink-900: #6a314e;
  --color-pink-950: #3f182c;
}