@layer reset, fonts, tokens, base, components;

@import url("$/styles/reset") layer(reset);
@import url("$/styles/base") layer(base);
@import url("$/styles/themes/light.css") layer(tokens);
@import url("$/styles/themes/dark.css") layer(tokens);
@import url("$/styles/themes/tokens") layer(tokens);

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300..900&display=swap") layer(fonts);
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@400..600&display=swap") layer(fonts);
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap")
layer(fonts);

@layer fonts {
  :root {
    --ds-font-family-sans: "Red Hat Display";
    --ds-font-family-mono: "Red Hat Mono";
    --ds-font-family-serif: "Noto Serif";
  }
}

.sbdocs-preview.sbdocs-preview {
  color: var(--ds-text-primary);
  background-color: var(--ds-bg-primary);
}
