/* stylelint-disable custom-property-empty-line-before */
:root {
  /* prettier-ignore */
  --ds-box-shadow-xs: 
    0 var(--ds-size-1px) var(--ds-size-2px) 0 var(--ds-shadow-xs);

  /* prettier-ignore */
  --ds-box-shadow-sm: 
      0 var(--ds-size-1px) var(--ds-size-3px) 0 var(--ds-shadow-sm_01), 
      0 var(--ds-size-1px) var(--ds-size-2px) calc(-1 * var(--ds-size-1px)) var(--ds-shadow-sm_02);

  /* prettier-ignore */
  --ds-box-shadow-md: 
      0 var(--ds-size-2px) var(--ds-size-6px) 0 var(--ds-shadow-md_01), 
      0 var(--ds-size-2px) var(--ds-size-4px) calc(-1 * var(--ds-size-2px)) var(--ds-shadow-md_02);

  /* prettier-ignore */
  --ds-box-shadow-lg: 
        0 var(--ds-size-12px) var(--ds-size-16px) calc(-1 * var(--ds-size-4px)) var(--ds-shadow-lg_01),
        0 var(--ds-size-4px) var(--ds-size-6px) calc(-1 * var(--ds-size-2px)) var(--ds-shadow-lg_02),
        0 var(--ds-size-2px) var(--ds-size-2px) calc(-1 * var(--ds-size-1px)) var(--ds-shadow-lg_03);

  /* prettier-ignore */
  --ds-box-shadow-xl: 
        0 var(--ds-size-16px) var(--ds-size-24px) calc(-1 * var(--ds-size-8px)) var(--ds-color-shadow-dark-18),
        0 var(--ds-size-8px) var(--ds-size-12px) calc(-1 * var(--ds-size-4px)) var(--ds-color-shadow-dark-18),
        0 var(--ds-size-4px) var(--ds-size-4px) calc(-1 * var(--ds-size-2px)) var(--ds-color-shadow-dark-18);

  /* prettier-ignore */
  --ds-box-shadow-2xl: 
        0 var(--ds-size-20px) var(--ds-size-24px) calc(-1 * var(--ds-size-4px)) var(--ds-shadow-xl_01),
        0 var(--ds-size-8px) var(--ds-size-8px) calc(-1 * var(--ds-size-4px)) var(--ds-shadow-xl_02),
        0 var(--ds-size-3px) var(--ds-size-3px) calc(-1 * var(--ds-size-2px)) var(--ds-shadow-xl_03);
}
