:root {
  --ds-size-1px: 0.0625rem;
  --ds-size-2px: 0.125rem;
  --ds-size-3px: 0.1875rem;
  --ds-size-4px: 0.25rem;
  --ds-size-5px: 0.3125rem;
  --ds-size-6px: 0.375rem;
  --ds-size-7px: 0.4375rem;
  --ds-size-8px: 0.5rem;
  --ds-size-9px: 0.5625rem;
  --ds-size-10px: 0.625rem;
  --ds-size-11px: 0.6875rem;
  --ds-size-12px: 0.75rem;
  --ds-size-13px: 0.8125rem;
  --ds-size-14px: 0.875rem;
  --ds-size-15px: 0.9375rem;
  --ds-size-16px: 1rem;
  --ds-size-17px: 1.0625rem;
  --ds-size-18px: 1.125rem;
  --ds-size-19px: 1.1875rem;
  --ds-size-20px: 1.25rem;
  --ds-size-21px: 1.3125rem;
  --ds-size-22px: 1.375rem;
  --ds-size-23px: 1.4375rem;
  --ds-size-24px: 1.5rem;
  --ds-size-25px: 1.5625rem;
  --ds-size-26px: 1.625rem;
  --ds-size-27px: 1.6875rem;
  --ds-size-28px: 1.75rem;
  --ds-size-29px: 1.8125rem;
  --ds-size-30px: 1.875rem;
  --ds-size-31px: 1.9375rem;
  --ds-size-32px: 2rem;
  --ds-size-33px: 2.0625rem;
  --ds-size-34px: 2.125rem;
  --ds-size-35px: 2.1875rem;
  --ds-size-36px: 2.25rem;
  --ds-size-37px: 2.3125rem;
  --ds-size-38px: 2.375rem;
  --ds-size-39px: 2.4375rem;
  --ds-size-40px: 2.5rem;
  --ds-size-41px: 2.5625rem;
  --ds-size-42px: 2.625rem;
  --ds-size-43px: 2.6875rem;
  --ds-size-44px: 2.75rem;
  --ds-size-45px: 2.8125rem;
  --ds-size-46px: 2.875rem;
  --ds-size-47px: 2.9375rem;
  --ds-size-48px: 3rem;
  --ds-size-52px: 3.25rem;
  --ds-size-56px: 3.5rem;
  --ds-size-60px: 3.75rem;
  --ds-size-64px: 4rem;
  --ds-size-72px: 4.5rem;
  --ds-size-80px: 5rem;
  --ds-size-96px: 6rem;
}
